<div class="center">
    <div class="pagination">
        <a href="{{ "/" | site_url }}" class="{% if page.title == "home" %}active{% endif %}">1</a>
        <a href="{{ "2" | relative_url }}" class="{% if page.title == "Page 2" %}active{% endif %}">2</a>
        <a href="{{ "3" | relative_url }}" class="{% if page.title == "Page 3" %}active{% endif %}">3</a>
 
        <a href="{{ "14" | relative_url }}" class="{% if page.title == "Page 14" %}active{% endif %}">14</a>
        </div>
    <!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <a href="https://www.facebook.com/topu.hit" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  <a href="http://blog.tariquldesign.com/" target="_blank"><i class="fa fa-wordpress w3-hover-opacity"></i></a>
  <a href="https://www.youtube.com/user/topuhittopu" target="_blank"><i class="fa fa-youtube w3-hover-opacity"></i></a>
  <a href="https://www.behance.net/topu_hit" target="_blank"><i class="fa fa-behance w3-hover-opacity"></i></a>
  <a href="https://github.com/topuhit" target="_blank"><i class="fa fa-github w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/topuhit" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <p class="w3-medium">Image CDN Powered by <a href="https://cloudinary.com" class="cloudinary" target="_blank">Cloudinary</a></p>
</footer>

<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else { 
            x.className = x.className.replace(" w3-show", "");
        }
    }
    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
</script>
<script>
    // JScroll script
    // $('#columns').jscroll();

    var cl = cloudinary.Cloudinary.new({ cloud_name: "topuhit" });
    // replace 'demo' with your cloud name in the line above 
    cl.responsive();

</script>