<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-control" content="public">
  <title>Stocks > stock charts site.</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:title" content="Stocks > stock charts site">
  <meta property="og:description" content="Stocks > stock charts site">
  <meta property="og:image" content="{{ site.url }}/assets/facebook-cover.png">
  <link href="{{ site.url }}/assets/favicon.gif" rel="shortcut icon">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <link rel="stylesheet" href="{{ site.url }}/assets/css/w3.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="application/font-woff2" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script type='text/javascript' src='{{ site.url }}/assets/js/jquery/jquery-migrate.min.js'></script>

</head>