<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ site.url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "home" %}active{% endif %}">HOME</a>
    <a href="{{ "2" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "Page 2" %}active{% endif %}">2</a>
    <a href="{{ "3" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "Page 3" %}active{% endif %}">3</a>
    <a href="{{ "4" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "Page 4" %}active{% endif %}">4</a>
    <a href="{{ "5" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "Page 5" %}active{% endif %}">5</a>
    <a href="{{ "6" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "Page 6" %}active{% endif %}">6</a>
    <a href="{{ "7" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "Page 7" %}active{% endif %}">7</a>
    <a href="{{ "8" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "Page 8" %}active{% endif %}">8</a>
    <a href="{{ "9" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "Page 9" %}active{% endif %}">9</a>
    <a href="{{ "10" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "Page 10" %}active{% endif %}">10</a>
    <a href="{{ "11" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "Page 11" %}active{% endif %}">11</a>
    <a href="{{ "12" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "Page 12" %}active{% endif %}">12</a>
    <a href="{{ "13" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "Page 13" %}active{% endif %}">13</a>
    <a href="{{ "14" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "Page 14" %}active{% endif %}">14</a>
    <a href="{{ "about" | relative_url }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small {% if page.title == "About" %}active{% endif %}">ABOUT</a>
    <span class="w3-padding-large w3-right">Tariqul Design Dump / a site for depositing garbage. </span>
  </div>
</div>
<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="{{ "2" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "Page 2" %}active{% endif %}">2</a>
    <a href="{{ "3" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "Page 3" %}active{% endif %}">3</a>
    <a href="{{ "4" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "Page 4" %}active{% endif %}">4</a>
    <a href="{{ "5" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "Page 5" %}active{% endif %}">5</a>
    <a href="{{ "6" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "Page 6" %}active{% endif %}">6</a>
    <a href="{{ "7" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "Page 7" %}active{% endif %}">7</a>
    <a href="{{ "8" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "Page 8" %}active{% endif %}">8</a>
    <a href="{{ "9" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "Page 9" %}active{% endif %}">9</a>
    <a href="{{ "10" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "Page 10" %}active{% endif %}">10</a>
    <a href="{{ "11" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "Page 11" %}active{% endif %}">11</a>
    <a href="{{ "12" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "Page 12" %}active{% endif %}">12</a>
    <a href="{{ "13" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "Page 13" %}active{% endif %}">13</a>
    <a href="{{ "14" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "Page 14" %}active{% endif %}">14</a>
    <a href="{{ "about" | relative_url }}" class="w3-bar-item w3-button w3-padding-large {% if page.title == "About" %}active{% endif %}">ABOUT</a>
</div>
<!-- Main Content for all the images (100 images per page) -->