<!-- Navbar -->
<div class="">
  <div class="">
    <a class="" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ site.url }}" class="">HOME</a>
    <a href="{{ site.url }}/Default-Daily" class="">Default-Daily</a>
    <a href="{{ site.url }}/Default-Weekly" class="">Default-Weekly</a>
    <a href="{{ site.url }}/DSE-Daily" class="">DSE-Daily</a>
    <a href="{{ site.url }}/DSE-Weekly" class="">DSE-Weekly</a>
    <a href="{{ "about" | relative_url }}" class="">ABOUT</a>
 
  </div>
</div>
