h1 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.menu-style,.menu-style:hover,.menu-style:visited {
	background-color: antiquewhite;
    padding: 5px;
    border-radius: 3px;
    font-family: Helvetica;
    font-weight: 300;
    line-height: 2em;
    text-decoration: none;
    color: black;
}

